/* Version 1*/

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emergency-container-about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin-top: 5rem;
    place-items: center;
}
*/

/* Version 2*/
.emergency-gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* แบ่งเป็น 3 คอลัมน์ที่มีขนาดเท่ากัน */
    margin-top: 5rem;
  }
  
  .emergency-container-about {
    display: contents;
  }
  
  /* สำหรับการจัด card ให้กึ่งกลางบนบรรทัดที่ 2 */
  .emergency-container-about > :nth-child(5),
  .emergency-container-about > :nth-child(6) {
    grid-column: 2 / span 1; /* จะเริ่มจากคอลัมน์ที่ 2 และขยายครอบคลุม 1 คอลัมน์ */
  }
  
  /* ถ้าคุณต้องการให้ card บนบรรทัดที่ 2 อยู่กึ่งกลางจริงๆ โดยมีช่องว่างทั้งซ้ายและขวา คุณอาจต้องการจัดให้เป็น 3 คอลัมน์เท่ากัน */
  
  .emergency-container-about > :nth-child(5) {
    grid-column: 2 / span 1;
    margin-top: 5rem;
  }
  
  .emergency-container-about > :nth-child(6) {
    grid-column: 3 / span 1;
    margin-top: 5rem;
  }