.Emergency-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 280px;
  max-height: 330px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
          -4px -4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s;
  box-sizing: border-box;
  padding: 10px;
}
  
.Emergency-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
            -4px -4px 12px rgba(0, 0, 0, 0.08);
  }
  
  .Emergency-card-image-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Emergency-video-icon {
    font-size: 40px;
  }
  
  .Emergency-card-title {
    margin: 0;
    font-size: 17px;
    /*font-family: "Open Sans";*/
    font-weight: 600;
    color: #000000;
    cursor: default;
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 1;*/
    /*line-clamp: 1;*/
  }
  
  .Emergency-card-des {
    /*-webkit-box-orient: vertical;
    overflow: hidden;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 1;*/
    /*line-clamp: 1;*/
    /*margin: 0;*/
    font-size: 17px;
    /*font-family: "Open Sans";*/
    color: #000000;
    cursor: default;
    margin-top: 10px;
  }
  

