*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

.nav-container{
    /* max-width: 990px; */
    height: 60px;
    margin: 0 auto;
    /* padding: 0 30px; */
    /* border: 1px solid green; */

}

nav{
    align-items: center;
    background: #FFF;

}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
    /* border: 1px solid green; */

}

.nav-wrapper .logo h3{
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.nav-menu{
  height: 100%;

  display: flex;
  align-items: center;

    /* border: 1px solid gold; */
}

.nav-menu li{
    align-items: center;
    margin-left: 40px;
    list-style-type: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    /* height: max-content; */

}

.nav-emergency{
    color: rgba(216, 48, 37, 0.5);
}

.nav-li{
    color: rgba(32, 33, 36, 0.50);
    text-decoration: none;
}


.nav-menu li a{
    text-decoration: none;
}

.nav-profile-icon svg{
    width: 32px;
    height: 32px;
    color: rgba(32, 33, 36, 1);
}

main{
    padding: 2rem 0;
}

footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

/* Hamburger Section */
.ham-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  


/* Dropdown button */
.nav-dropdown .nav-dropbtn {
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  /* Dropdown content (hidden by default) */
.nav-dropdown-content {

    
    margin-top: 1.3rem;
    display: none;
    position: absolute;
    width: 200px;
    border-radius: 10px;
    background: #FFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 1;
  }

  /* Links inside the dropdown */
.nav-dropdown-content a {
    float: bottom;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    color: #808080;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
    
  }
  
  /* Add a grey background color to dropdown links on hover */
  .nav-dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .nav-dropdown:hover .nav-dropdown-content {
    display: block;
    transition: transform 150ms;
  }

  /* Responsive section */
@media only screen and (max-width: 550px){
  .nav-menu{
      display: none;
      width: 100%;
  }
  .nav-wrapper{
      padding: 1rem;
      height: auto;
      flex-direction: column;
      align-items: flex-start;
      background-color: white;
      /* border: 1px solid red;  */
  }
  .nav-menu li{
      margin: 1rem 0;
      padding: 1rem 0.5rem;
  
  }

  .nav-menu li:hover{
      background-color: rgb(193, 191, 191);

  }

  .menu-active{
      display: block !important;
    }
}

@media only screen and (min-width: 551px){
  .ham-menu{
      display: none;
  }
}