
.register-page-container{
    /* border: 1px solid black; */
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.register-box{
    margin-top: 100px;
    width: 505px;
    height: 660px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.register-box-container{
    max-width: 465px;
    width: 100%;
    margin: 35px auto 0 auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-box-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-box-container input{
    width: 465px;
    height: 60px;
    flex-shrink: 0;

    border: none;
    border-radius: 20px;
    background: #E5E5E5;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-left: 20px;
    margin-top: 25px;
}

.register-box-container .register-button{
    width: 130px;
    height: 50px;
    flex-shrink: 0;

    margin-top: 25px;


    border-radius: 40px;
    background: #3D67E4;
    border: none;

    /* text */
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    }

.register-box-container .register-button:hover{
    cursor: pointer;
    background-color: black;
}

.register-box-line{
    width: 100%;
    height: 1px;
    background: #E5E5E5;
    margin: 20px 0;
}

.register-no-account-button{
    color: #949494;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
    border: none;
    background: transparent;
}

.register-no-account-button:hover{
    cursor: pointer;
    color: black;
}