.donate-page-container {
    /* border: 1px solid black; */
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.total-donation-head-text {
    display: flex;
    justify-content: center;
    color: #5F6368;
    font-size: 32px;
    margin-top: 60px;
}

.total-donation {
    display: flex;
    justify-content: center;
    color: #202124;
    font-size: 48px;
    font-weight: bold;
}



.donate-body {
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding: 0 5%;
}

.donate-body-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-body-right {
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.donate-info-head {
    font-weight: bold;
    color: #202124;
    font-size: 18px;
}

.donate-info-subhead {
    font-weight: 600;
    color: #202124;
    font-size: 18px;
    opacity: 0.9;
}

.donate-info {
    font-weight: 300;
    font-size: 16px;
    color: #5F6368;
}

.donate-button {
    width: 130px;
    height: 50px;
    border-radius: 40px;
    background-color: #3D67E4;
    font-size: 20px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 40px;
    cursor: pointer;
    /* margin-left: 52% */
    border: none;
    transition: background-color 0.3s, transform 0.3s; /* For smooth transition */
}

.donate-button:hover {
    background-color: #5078FF; /* A lighter shade of the button's original color */
    transform: scale(1.05); /* Slightly increase the button size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for depth */
}

.donate-qr{
    border-radius: 20px;
    width: 70%;
}