* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-about {
    background-color: #f0f0f0; /* สีเทา */
    padding: 50px;
}

.hero-con-about {
    display: flex;
}

.hero-info-about {
    width: 100%;
    padding: 2rem;
}

.hero-info-about h3 {
    /*font-family: Open Sans;*/
    font-size: 70px;
}

.hero-info-about p {
    margin: 1rem 0;
    color: #202124;
    /*font-family: Open Sans;*/
    font-size: 50px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.hero-img-about img{
    width: 100%;
    padding: 2rem;
}

.blog-about {
    background: #ffffff;
}

.container-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.blog-title-about{
    margin: 2rem 0;
}

.blog-item-about{
    display: flex;
    flex-direction: column; /* จัดวางเป็นแนวตั้ง */
    align-items: center;    /* จัดวางกลางแนวนอน */
    justify-content: center;/* จัดวางกลางแนวตั้ง */
             /* กำหนดความสูงของ container */
}

.blog-item-about img {
    border-radius: 20px;
    width: 100;
}

.blog-item-about h4 {
    margin-top: 1rem;
}

.blog-item-about p {
    margin: 1rem 0;
}

